<div class="row">
  <h2>Assassin Manager</h2>
</div>
{{#unless game.gameIsActive}}
  <div class="row">
    <form method="POST" action="/api/startGame/{{game.id}}">
      <button class="btn btn-primary" type="submit">Start Game</button>
    </form>
  </div>
  <div class="row">
    <h3>{{game.title}} Player List</h3>
  </div>
  <div class="row">
    <ul>
      {{#each player}}
        <li>{{name}}</li>
      {{/each}}
    </ul>
  </div>
{{/unless}}

{{#if game.gameIsActive}}
  <div>
    <h3>Current Objectives</h3>
    <table class="table">
      <tr>
        <th scope="col">Player</th>
        <th scope="col">Weapon</th> 
        <th scope="col">Target</th>
      </tr>
      {{#each player}}
      <tr>
        <td>{{name}}</td>
        <td>{{weapon}}</td>
        <td>{{target}}</td>
      </tr>
      {{/each}}
    </table>
  </div>

  <div>
    <h3>Kill Feed</h3>
    <table class="table">
      <tr>
        <th scope="col">Player</th>
        <th scope="col">Weapon</th> 
        <th scope="col">Target</th>
      </tr>
      {{#each player}}
        {{#if isDead}}
          <tr>{{player.name}}</tr>
          <tr>{{player.weapon}}</tr>
          <tr>{{player.target}}</tr>
        {{/if}}
      {{/each}}
    </table>
  </div>
{{/if}}
