<h2>Assassin Manager</h2>
<div>
  <h3>Current Objectives</h3>
  <table class="table">
    <tr>
      <th scope="col">Player</th>
      <th scope="col">Weapon</th> 
      <th scope="col">Target</th>
    </tr>
    {{#each objective}}
      <tr>{{player.name}}</tr>
      <tr>{{player.weapon}}</tr>
      <tr>{{player.target}}</tr>
    {{/each}}
  </table>
</div>

<div>
  <h3>Kill Feed</h3>
  <table class="table">
    <tr>
      <th scope="col">Player</th>
      <th scope="col">Weapon</th> 
      <th scope="col">Target</th>
    </tr>
    {{#each events}}
      <tr>{{player.name}}</tr>
      <tr>{{player.weapon}}</tr>
      <tr>{{player.target}}</tr>
    {{/each}}
  </table>
</div>
