<div class="row">
  <a href="/browse">&lt Browse Games</a>
</div>
<div class="row">
  <h2>{{game.title}}</h2>
</div>
<div class="row">
  <h3>Location: {{game.location}}</h3>
</div>
<div class="row">
  <h3>Description</h3>
</div>
<div class="row">
  <p>{{game.description}}</p>
</div>
{{#if win}}
  {{#each player}}
    {{#unless isDead}}
    <div class="row">
      <h2 class="mx-auto">THE WINNER IS</h2>
    </div>
    <div class="row">
      <h2 class="mx-auto">{{name}}</h2>
    </div>
    {{/unless}}
  {{/each}}

  <div class="row">
    <h3>Kill Feed</h3>
    <table class="table">
      <tr>
        <th scope="col">Player</th>
        <th scope="col">Weapon</th> 
        <th scope="col">Target</th>
        <th scope="col">At</th>
      </tr>
      {{#each player}}
        {{#if isDead}}
        <tr>
          <td>{{killedBy}}</td>
          <td>{{weapon}}</td>
          <td>{{name}}</td>
          <td>{{updatedAt}}</td>
        </tr>
        {{/if}}
      {{/each}}
    </table>
  </div>
{{/if}}
<div class="row">
  <p>Created at: {{game.createdAt}}</p>
</div>
{{#unless game.gameIsActive}}
  <form method="POST" action="/api/addPlayer/{{game.id}}">
    <div class="row">
      <div class="col">
        <input name="name" type="text" class="form-control" placeholder="Full name">
      </div>
      <div class="col">
        <input name="password" type="password" class="form-control" placeholder="Personal Password">
      </div>
      <div class="col">
        <input name="gamepasscode" type="password" class="form-control" placeholder="Game Passcode">
      </div>
      <button type="submit" class="btn btn-primary">Join Game</button>
    </div>
  </form>
{{/unless}}
{{#if game.gameIsActive}}
  <form method="POST" action="/api/{{game.id}}/authenticatePlayer">
    <div class="row">
      <div class="col">
        <input name="name" type="text" class="form-control" placeholder="Full name">
      </div>
      <div class="col">
        <input name="password" type="password" class="form-control" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary">View Objective</button>
    </div>
  </form>
{{/if}}

<form action="/api/authenticateAdmin/{{game.id}}" method="POST" >
  <div class="row">
    <div class="col">
      <input name="adminpassword" type="password" class="form-control" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">View Admin Panel</button>
  </div>
</form>
